* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: lora;
    background-color: #e2eaff;
    color: #101632dd;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #48e;
    --secondary-color: #26a;
    --backgraund-color: #a5bdba;
}



/* ------ HEADER SECTION ------ */

.header {
    background-color: var(--backgraund-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.header__open-nav-button {
    color: #48e;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    right: 10px;
}


.header__checkbox {
    display: none;
}

.header__nav{
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
    font-weight: bold;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__logo {
    max-width: 100%;
    width: 64px;
    margin: 11px 20px;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: inherit;
    text-decoration: none;
}

.header__nav-item :is(:hover,:active) {
    text-decoration: underline;
    text-shadow: 4px 6px 15px #0004;
}


/* ------ HEADER QUERIES ------ */

@media screen and (min-width: 600px) {

    .header {
        padding: 18px 0;
        animation: header-movement both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        animation-range: 10px 100px;
    }

    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
        background-color: initial;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 40px;

    }

    .header__open-nav-button{
        display: none;
    }
}

/* ------ HEADER ENDS ------ */


/* ------ PROFILE SECTION ------ */

.profile {
    container-name: profile;
    container-type: inline-size;
    animation: aparecer 2.4s -.6s both;    
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    max-width: 1400px;    
}

.profile__data-container {
    max-width: 500px;
    padding: 12px;
    border-radius: 0 16px 16px 0;
}

.profile__img-container {
    max-height: 450px;
    overflow: hidden;
}

.profile__img {
    max-width: 100%;
    width: 720px;
}

h1 {
    color: #26a;
}


.profile__skills-container h2 {
    color: #26a;
}

.profile__skill {
    list-style: none;
    display: flex;
    margin: 10px;
    max-width: 600px;
    margin-left: 0;
    align-items: center;
}

.load-bar {
    border: 2px solid #48e;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 4px;
    margin-left: 0;
}

.profile__skill-name {
    color: #48e;
}

.load-bar__bar {
    background-color: #48e;
    border-radius: 4px;
    padding: 4px 6px;
}

.bar--80 {
    width: 80%;
}

.bar--70 {
    width: 70%;
}

.bar--60 {
    width: 60%;
}

.bar--90 {
    width: 90%;
}

/* ------ PROFILE QUERIES ------ */

@container profile (min-width: 600px) {
    .profile__wrapper {
        flex-direction: row;
        padding: 60px;
        background-color: transparent;
        min-height: 100vh;
        margin: auto;        
    }

    .profile__data-container {
        background-color: #fff;
        display: flex;
        align-items: center;
    }

    h1 {
        margin-top: 0;
        font-size: 3rem;
        text-wrap: balance;
    }

    .profile__data {
        max-width: 620px;
    }

    .profile__description h1{
        font-size: 1.9rem;
    }

    .profile__img-container {
        max-height: initial;
        max-width: 400px;
        border-radius: 16px 0 0 16px;
    }

    .profile__img {
        height: 100%;
        object-fit: cover;
        width: 620px;
    }
} 

/* ------ PROFILE ENDS ------ */

/* ------ PROYECT SECTION------ */


.portfolio {
    background-color: #18233f;
    color: #fff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
}

.portfolio__title {
    font-size: 1.6rem;
}

.portfolio__project-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 6px;
    min-height: 80vh;
}

.portfolio__project {
    background-image: linear-gradient(#0009,#0009), url("/imgs/diego.jpg");
    background-position: center;
    background-size: cover;
    place-content: center;
    height: 150px;
    margin: 10px;
}

.portfolio--projects {
    background-image: linear-gradient(#0009,#0009), url("/imgs/project1.png");
    background-position: center;
    background-size: cover;
    height: 150px;
}


.portfolio__project:hover {
    opacity: 0.74;
    outline: 2px solid #fff6;
}

/* ------ PROYECT QUERIES ------ */

@container portfolio (min-width: 56.25rem) {

    .portfolio__project-container {
        min-height: 50vh;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        
    }

    .portfolio__project {
        border-radius: 14px;
    }

    .portfolio__project:first-child{
        grid-column: span 2;        
    }

    .portfolio__project:nth-child(3){
        grid-column: span 1;        
    }

    .portfolio__project:nth-child(4){
        grid-column: span 2;
        
    }

    .portfolio__title {
        padding: 50px 0px 0px 0px;
        font-size: 2.1rem;
    }        
}


/* ------ PROYECT ENDS ------ */

/* ------ CONTACT SECTION ------ */
.form {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    container: formu;
    container-type: inline-size;
}

.form__form {
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display: grid;
}

.form__input-container :is(input,textarea) {
    width: 100%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 2px 2px 4px #0003;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"] {
    padding: 12px;
    background-color: #18233f;
    color: #fff;
}

.form__title{
    font-size: 2.6rem;
}



/* ------ CONTACT QUERIES ------ */

@container formu (min-width: 56.25rem) {

    .form {
        min-height: 100vh;
       
    }

    .form__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name name"
        "email email"
        "message message"
        "button button";
        gap: 12px;
        background-image: radial-gradient(#18233f44,#18233f11);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0px 0px 25px #0006;       
        
    }

    .form__input-container:first-child {
        grid-area: name;
    }

    .form__input-container:first-child(2) {
        grid-area: lastname;
    }

    .form__input-container:first-child(3) {
        grid-area: email;
    }

    .form__input-container:first-child(4) {
        grid-area: message;
    }

    .form__input-container:first-child(5) {
        grid-area: button;
    }
}

/* ------ CONTACT ENDS ------ */

/* ------ FOOTER SECTION ------ */


footer {
    padding: 60px;
    text-align: center;
    background-color: #18233f;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #e2eaff;
}

footer :is(:hover,:active) {
    text-decoration: underline;
}
/* ------ FOOTER ENDS ------ */

/*------ Animaciones-------*/

@keyframes header-movement {
    form {
        padding: 20px 0;
        background-color: #fff;
    }
    to {
        padding: 0;
        background-color: #0006;
        color: #fff;
    }
}