* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: lora;
    background-color: var(--primary);
    color: #101632dd;
}

body, div, ul, nav, header, footer, a, li, label, input, span {
    margin: 0;
    padding: 0;
}

:root {
  --primary: #3b4550;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #06182a;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: rgb(45, 170, 20);
}




/* ------ HEADER SECTION ------ */

.header {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.header__open-nav-button {
    color: var(--primary-dark);
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    right: 10px;
}


.header__checkbox {
    display: none;
}

.header__nav{
    display: none;
    background-color:rgba(0, 0, 0, 0.774);
    position: absolute;
    height: 100vh;
    width: 100vw;
    color: #fff;
    top: 0;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
    font-weight: bold;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__logo {
    max-width: 100%;
    width: 64px;
    margin: 11px 20px;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: inherit;
    text-decoration: none;
}

.header__nav-item :is(:hover,:active) {
    text-decoration: underline;
    text-shadow: 4px 6px 15px #0004;
}


/* ------ HEADER QUERIES ------ */

@media screen and (min-width: 600px) {

    .header {
        padding: 18px 0;
        animation: header-movement both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        animation-range: 10px 100px;
    }

    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
        background-color: initial;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 40px;

    }

    .header__nav-item {
        color: var(--text-primary);
    }

    .header__open-nav-button{
        display: none;
    }
}

/* ------ HEADER ENDS ------ */


/* ------ PROFILE SECTION ------ */

.profile {
    container-name: profile;
    container-type: inline-size;
    animation: aparecer 2s 3s both;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-bg);
    max-width: 1400px;
}

.profile__data-container {
    max-width: 500px;
    max-height: auto;
    padding: 12px;
    border-radius: 0 16px 16px 0;
    color: var(--text-secondary);
    margin: auto;
}

.profile__description strong {
    color: #78ba2b;
}

.profile__description p {
    text-wrap: balance;
    line-height: 1.6;
    white-space:pre-line;
}

.profile__img-container {
    max-height: 250px;
    max-width: 250px;
    overflow: hidden;
    border-radius: 100%;
    border: 6px solid var(--border);
    box-shadow: 0px 0px 15px #0002;
    margin: auto;
    margin-top: 8px;
}

.profile__img {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

h1 {
    color: var(--text-primary);
    margin-top: 0;
    font-size: 1.9rem;
    line-height: 1.2;
    text-wrap: balance;
    align-items: center;
}

.profile__skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid var(--border);
    border-radius: 4px;
    padding: 20px 0;

    svg {
        color: var(--primary-light);
        background-color: rgba(0, 153, 255, .3);
        width: 30px;
        height: 30px;
        margin: 5px;
        border-radius: 50%;
        padding:3.1px;

    }

    a[download] {
        display: inline-block;
        margin: 0%;
        padding: 0;
    }
}

.profile__skills-container h2 {
    color: var(--text-primary);
}


.profile__skill {
    display: flex;
    align-items: center;
    justify-content: center;
}



.profile__skill-icon {
    color: #48e;
    font-size: 18px;
    margin-right: 8px;
    min-width: 20px;
    filter: drop-shadow(15px 15px 30px rgba(0, 0, 0, 0, 4));
}

.load-bar {
    border: 2px solid #48e;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 11px;
    width:300px;
}

.profile__skill-name {
    color: var(--text-muted);
}

.load-bar__bar {
    align-items: center;
    background-color: #48e;
    border-radius: 4px;
    width: 100%รง;
}

.bar--70 {
    width: 70%;
}

/* ------ PROFILE QUERIES ------ */

@container profile (min-width: 600px) {
    .profile__wrapper {
        flex-direction: row;
        padding: 60px;
        background-color: transparent;
        min-height: 100vh;
        margin: auto;
        margin-top: -40px;
    }

    .profile__data-container {
        display: flex;
        align-items: center;
        background-color: var(--card-bg);
        box-shadow: 0px 0px 25px var(--shadow);
        margin: 0;
    }

    profile__title {
        margin-top: 0;
    }

    .profile__data {
        max-width: 620px;        
    }

    .profile__description p {
        letter-spacing: 0.3px;
        word-spacing: 0.1px;
    }

    .profile__img-container {
        max-height: initial;
        min-width: 360px;
        border-radius: 16px 0 0 16px;
        border: none;
        box-shadow: 0px 0px 25px var(--shadow);
        margin: 0;
    }

    .profile__img {
        height: 100%;
        object-fit: cover;
        width: 620px;
    }
 
    .profile__skills-container {
        padding: 25px;
        
        span {
            display: block;
            margin-left: 4px;
        }

        svg {
        color: var(--primary-light);
        background-color: rgba(0, 153, 255, .3);
        border-radius: 100%;
        box-shadow: 0px 0px 25px var(--shadow);
    }

    }

    .load-bar {
        border-color: var(--border);
        color: var(--text-secondary);
        min-height: 10px;
        
        
    }

    .load-bar__bar {
        background-color: var(--primary-light);
        width: 70%;
        min-height: 10px;
        font-size: 15px;
    }   
} 

/* ------ PROFILE ENDS ------ */

/* ------ PROYECT SECTION------ */


.portfolio {
    background-color: #18233f;
    color: #fff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
}

.portfolio__title {
    font-size: 1.6rem;
}

.portfolio__project-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 6px;
    min-height: 80vh;
}

.portfolio__project {
    background-image: linear-gradient(#0009,#0009), url("/imgs/project1.png");
    background-position: center;
    box-shadow: 0px 0px 7px var(--border);
    background-size: cover;
    padding: 25px;
    margin: 10px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% cover 40%;


    p {
    font-size: 0.8rem;
    margin: 9px 0;
    color: var(--text-secondary);
    gap: 4px;
}

    h2 {
    margin-bottom: 0px;
    font-size: 1.1rem;

}
}

.project-2 {
     background-image: linear-gradient(#0009,#0009), url("/imgs/project2.png");
     padding: 25px;
}

.project-3 {
    background-image: linear-gradient(#0009,#0009), url("/imgs/project3.png");
    padding: 25px;
}


.portfolio__project:last-child {
    background-image: radial-gradient(var(--input-bg), var(--background));


    p {
        color: var(--text-primary);
        padding: 10px;
    }

    span {
        color: var(--text-muted);
        display: block;
        font-family: lora-italic;
    }
}

.portfolio__project a {
    color: var(--text-muted);
    font-size: 0.8rem;
    text-decoration: none;
    padding: 8px 10px;
    background-color: rgba(9, 41, 88, 0.533);
    border-radius: 8px;
}


.portfolio__project:hover {
    opacity: 0.74;
    outline: 2px solid #fff6;
}

/* ------ PROYECT QUERIES ------ */

@container portfolio (min-width: 56.25rem) {

    .portfolio__project-container {
        min-height: 50vh;
        grid-template-rows: repeat(3,minmax(180px, 1fr));
        grid-template-columns: repeat(2, 1fr);
        padding: 60px;
    }

    .portfolio__project {
        border-radius: 14px;

    }


    .portfolio__project:first-child{
        grid-column: span 2;        
    }

    .portfolio__project:nth-child(3){
        grid-column: span 1;        
    }

    .portfolio__project:last-child{
        grid-column: span 2;


        p {
            font-size: 1.1rem;
        }
        
    }
    
    .portfolio__project a {
        color: #fff;
        font-size: 0.8rem;
        font-weight: bold;
        text-decoration: none;
        padding: 6px 10px;
        background-color: #48e8;
        border-radius: 8px;
    }

    .portfolio__title {
        margin: 0;
        margin-top: 85px;
        font-size: 2.4rem;
    }

}


/* ------ PROYECT ENDS ------ */


/* ------ TECH SECTION ------ */


.tech {
    background-color: var(--background);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    container-name: tech;
    container-type: inline-size;
    margin: 0 auto;
    padding: 55px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 20% contain 40%;
}


.tech__item-header h2 {
    margin-bottom: 6px;
    font-size: 1.7rem;
}

.tech__item-container {
    display: flex;
    flex-direction: row;
    max-height: 100%;
}


.tech__item-card {
    background-color: var(--background);
    border-top: 1px solid var(--border);
    text-align: center;
    padding: 20px 0;

    small {
        color: var(--text-muted);
        font-size: 0.875rem;
    }
}

.tech__item-card p, span, .icono-no {
    display: none ;
}

.tech__title {
    padding: 0;
}

.tech__article {
    background-color: var(--card-bg);
    box-shadow: 0px 1px 3px var(--shadow);
    border-radius: 0.5rem;
    padding: 10px;
    margin: 16px;
    max-width: 100%;
    box-shadow: 0px 0px 15px var(--shadow);


    svg {
        color: var(--primary-light);
        background-color: rgba(0, 153, 255, .3);
        width: 64px;
        height: 64px;
        padding: 16px;
        border-radius: 100%;
    }

    p {
        color: var(--text-secondary);
    }

    h3 {
        font-weight: 500;
    }
}



/* ------ TECH QUERIES ------ */

@container tech (min-width: 56.25rem) {
    .tech__item-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1px;
        width: 56rem;
        margin: auto;

    }

    .tech__explain {
        color: var(--text-secondary);
    }

    .tech__article {
        max-width: 100%;
        

        h3 {
            color: var(--text-secondary);
        }

        span {
            color: var(--text-muted);
        }
    }

    .tech__item-card p, h3, span, .icono-no {
        display: block ;
    }

    .tech__article-check {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 10px;


        svg {
        color: var(--primary-light);
        background-color: rgba(21, 255, 0, 0.3);
        width: 16px;
        height: 16px;
        padding: 0px;
        border-radius: 100%;
        margin-left: 4px;
    }
    }
}



/* ------ TECH ENDS ------ */




/* ------ CONTACT SECTION ------ */
.form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    container: form;
    container-type: inline-size;
    background-color: #18233f;
}

.form__form {
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display: grid;
}

.form__input-container {
    margin: 6px 3px;
    padding: 4px;
    color: #fff;
}

.form__input-container :is(input,textarea) {
    width: 100%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 2px 2px 4px #0003;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"] {
    padding: 12px;
    background-color: #14132b9c;
    color: #fff;
}

.form__title{
    font-size: 2.2rem;
    color: #fff;
}



/* ------ CONTACT QUERIES ------ */

@container form (min-width: 56.25rem) {
    .form__form {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "name name"
        "email email"
        "lastname lastname"
        "message message"
        "button button";
        gap: 13px;
        background-image: radial-gradient(var(--primary),var(--border));
        padding: 50px;
        border-radius: 12px;
        box-shadow: 0px 0px 25px #0006;
    }

    .form__title {
        padding: 0;
        margin: 1;
    }

    .form__input-container {
        margin: 0;
        padding: 3px;
        color: #fff;
    }

    .form__input-container input, textarea {
        border-radius: 4px;
    }

    .form__input-container:first-child {
        grid-area: name;
        
    }

    .form__input-container:nth-child(2) {
        grid-area: lastname;
    }

    .form__input-container:nth-child(3) {
        grid-area: email;
    }

    .form__input-container:nth-child(4) {
        grid-area: message;
    }

    .form__input-container:nth-child(5) {
        grid-area: button;
    }

    .form__title{
        font-size: 3.2rem;
        margin: 35x 0px;
        color: #fff;
    }
}

/* ------ CONTACT ENDS ------ */


/* ------ FOOTER SECTION ------ */


.footer {
    display: grid;
    padding: 25px;
    background-color: var(--background);
    color: #fff;
    font-size: 1.1rem;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    align-items: center;
    text-align: center;

    a {
    color: var(--text-muted);
    text-decoration: none;
}
}

.list__item-footer:is(:hover,:active) {
    text-decoration: underline;
    color: var(--text-muted);

}

.nav__footer ul {
    list-style: none;
    display: grid;

    li {
        padding: 6px;
    }

    a {
        font-size: 0.9rem;
    }
}


/* ------ FOOTER QUERIES ------ */


/* ------ FOOTER ENDS ------ */


/*------ ANIMACIONES -------*/





@keyframes header-movement {
    form {
        padding: 20px 0;
        background-color: #fff;
    }
    to {
        padding: 3px;
        background-color: rgba(0, 0, 0, 0.753);
        color: #fff;
    }
}


@keyframes aparecer {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ---- BOTTON ID ---- */

.is-applied {
    background-color: rgb(207, 233, 250);
}